{% load static %}
<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Medical Reports</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var dragTheme = window.localStorage.getItem('checkbox');
      if(dragTheme==="true"){
        $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme);
          $("#checkbox").click();
      }
      $("#checkbox").click(function(){
        if($('#checkbox').prop("checked")){
          $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
        else{
          $("#jhamela").addClass("darkEdition");
          window.localStorage.setItem('checkbox', false);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
      });
    });
  </script>
 <style>
    


    .container{
      display: flex;
    }

   .options{
      list-style: none;
   }
    
    .left {
      width: 48%;
      text-align: center;
      margin-top: 100px;
    }
    .right {
      width: 48%;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 1000px){
      .container{
        display: block;
      }

      .left {
      width: 100% !important;

      
    }
    .right {
      width: 100% !important;
      float: none;

    }
    }


  </style>
</head>

<body id="jhamela" class="darkEdition lightEdition">
  {% include "hospital/Home/preloader.html" %}

  <div id="myDiv" class="animate-bottom wrapper" style="display:none;position: relative;">
    <div class="sidebar" data-color="azure" data-background-color="black">
    <div class="logo"><a href="#" class="simple-text logo-normal">
      <img src="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
      <br>GROUP 20</a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'profile_pat.html' %}">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'bookapp.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Book Appointment</p>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'admit_details.html' %}">
              <i class="material-icons">content_paste</i>
              <p>Admit Details</p>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'yourhealth.html' %}">
            <i class="material-icons">favorite</i>
            <p>Your Health</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calladoc.html' %}">
            <i class="material-icons">library_books</i>
            <p>Call A Doc</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'medicalreport.html' %}">
            <i class="material-icons">favorite</i>
            <p>Medical Reports</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback.html' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Feedback</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="main-panel">
      <br><br>
      <h1 style="color: #28acea">Admit Bills and Reports</h1>
      <br>
      <div class="container" style="margin-bottom: 200px;">
        <div class="left">
          <h2 style="color: #28acea">Bills</h2><br>
          <ul class="options">
            {% for i in padm %}
              <li><a class="btn btn-primary btn-round btn-lg"href="{% url 'bill.html' i.1 %}" target="_blank"><b>{{ i.0 }}</b></a></li><br><br>
            {% endfor %}
          </ul>
        </div>
        <div class="right">
          <br><br><br><br>
          <h2 style="color: #28acea">Reports</h2><br>
          <ul class="options">
            {% for i in padm %}
              <li><a class="btn btn-primary btn-round btn-lg"href="{% url 'report.html' i.1 %}" target="_blank"><b>{{ i.0 }}</b></a></li><br><br>
            {% endfor %}
          </ul>
        </div>
    </div>
    <h1 style="color: #28acea">Appointment Bills and Reports</h1>
    <div class="container" style="margin-bottom: 200px;">
      <div class="left">
        <h2 style="color: #28acea">Bills</h2><br>
        <ul class="options">
          {% for i in papt %}
            <li><a class="btn btn-primary btn-round btn-lg"href="{% url 'bill_apt.html' i.1 %}" target="_blank"><b>{{ i.0 }}</b></a></li><br><br>
          {% endfor %}
        </ul>
      </div>
      <div class="right">
        <br><br><br><br>
        <h2 style="color: #28acea">Reports</h2><br>
        <ul class="options">
          {% for i in papt %}
            <li><a class="btn btn-primary btn-round btn-lg"href="{% url 'report_apt.html' i.1 %}" target="_blank"><b>{{ i.0 }}</b></a></li><br><br>
          {% endfor %}
        </ul>
      </div>
  </div>
    <br><br><br><br><br><br>
      {% include "hospital/Patient/footer.html" %}
    </div>
  </div>
</body>
</html>
