{% load static %}
{% load widget_tweaks %}
<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Hospital Management System</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static 'assets/css/form.css'%}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var dragTheme = window.localStorage.getItem('checkbox');
      if(dragTheme==="true"){
        $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme);
          $("#checkbox").click();
      }
      $("#checkbox").click(function(){
        if($('#checkbox').prop("checked")){
          $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
        else{
          $("#jhamela").addClass("darkEdition");
          window.localStorage.setItem('checkbox', false);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
      });
    });
  </script>
  <style>
  @page {
      size: A4;
      margin: 1cm;

      @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 0cm;
        margin-left: 9cm;
        margin-right: 9cm;
        height: 1cm;
      }
    }

    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    /** RTL **/
    .rtl {
      direction: rtl;
      font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
      text-align: right;
    }

    .rtl table tr td:nth-child(2) {
      text-align: left;
    }
  </style>
  <script>
  admitDate="03/04/2021";
  releaseDate="09/04/2021";
  daySpent="7";
  patientName="Patient 1";
  symptoms="Fever";


  </script>

</head>

<body id="jhamela" class="darkEdition lightEdition">
  {% include "hospital/Home/preloader.html" %}

  <div id="myDiv" class="animate-bottom wrapper" style="display:none;text-align: center;position: relative;">
    <div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'assets/img/sidebar-1.jpg'%}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
      <img src="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
      <br> 
      GROUP 20
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'profile_pat.html' %}">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'bookapp.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Book Appointment</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'admit_details.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Admit Details</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'yourhealth.html' %}">
            <i class="material-icons">favorite</i>
            <p>Your Health</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calladoc.html' %}">
            <i class="material-icons">library_books</i>
            <p>Call A Doc</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'medicalreport.html' %}">
            <i class="material-icons">favorite</i>
            <p>Medical Reports</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback.html' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Feedback</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="main-panel">
      
      <br><br><br><br>
      
         
<!--Rendered function have not been created yet-->

<div class="invoice-box sps">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="3">
          <table>
            <tr>
              <td class="title sps">
                <h4 style="color:skyblue;">Hospital Information Management System</h4>
              </td>
                <br><br>

             
            </tr>
            <tr>
            <td class="title sps" style="text-align: center">
              <h5 style="color: rgb(222, 135, 235);">Admit Report</h5>
            </td>
          </tr>
          <br><br>
          </table>
        </td>
      </tr>

      <tr class="information sps">
        <td colspan="2">
          <table>
            <tr>
             <td>

                Admit Date: {{admitDate}}<br>
                Release Date: {{releaseDate}}<br>
                Days Spent: {{days}} days
    
              </td>
              </tr>
              <tr>
              <td>
                Patient Name : {{patientName}}<br>
                Patient Address : {{pat_add}}<br>
              </td>
              <br>
              <td>
                Doctor Name :<br>
                {{doctorName}}<br>

              </td>
            </tr>
          </table>
        </td>
      </tr>


      <tr class="information sps">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Disease and Symptoms :<br>
                {{desc}}
              </td>

            </tr>
          </table>
        </td>
      </tr>



      <tr class="sps">
        <td colspan="2">
            <table>
              <tr>
                <td>
                  Medicines :<br>
                  {% for m in med %}
                    <tr><td>{{ m.0 }}</td></tr>
                  {% endfor %}
                </td>
              </tr>
            </table>
          </td>
        <td>
        </td>
      </tr>
      


    </table>
    
  
    <a class="btn btn-primary btn-xs" href="{% url 'downloadreport' pk %}">Download</a>
  </div>
   </div>
  
  <br><br><br><br><br><br><br><br>
      {% include "hospital/Patient/footer.html" %}
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/material-dashboard.js?v=2.1.0' %}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>
