{% load static %}
<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Hospital Management System</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var dragTheme = window.localStorage.getItem('checkbox');
      if(dragTheme==="true"){
        $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme);
          $("#checkbox").click();
      }
      $("#checkbox").click(function(){
        if($('#checkbox').prop("checked")){
          $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
        else{
          $("#jhamela").addClass("darkEdition");
          window.localStorage.setItem('checkbox', false);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
      });
    });
  </script>
  <script>
      /*
      $("document").ready( function () {
          alert("Please add your health information first.");
      });
      */ 
  </script>
  <style>

 .container {
     padding-top: 100px !important;
 }
 .box {
   background-color: azure;
  border-radius: 25px;
  border: 5px solid #28acea;
  padding: 10px;  
  margin-left: 10%;
  margin-right: 20%;
}
.list{
  text-align: left;
}
  </style>
</head>

<body id="jhamela" class="darkEdition lightEdition">
  {% include "hospital/Home/preloader.html" %}

  <div id="myDiv" class="animate-bottom wrapper" style="display:none;text-align: center;position: relative;">
    <div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'assets/img/sidebar-2.jpg'%}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
      <img src="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
      <br> 
      GROUP 20
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'profile_pat.html' %}">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'bookapp.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Book Appointment</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'admit_details.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Admit Details</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'yourhealth.html' %}">
            <i class="material-icons">favorite</i>
            <p>Your Health</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calladoc.html' %}">
            <i class="material-icons">library_books</i>
            <p>Call A Doc</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'medicalreport.html' %}">
            <i class="material-icons">favorite</i>
            <p>Medical Reports</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback.html' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Feedback</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="main-panel">
      <br><br>
      <h1 style="color: #28acea">Your Health</h1>
      <br><br><br>
      <a class="btn btn-primary btn-round btn-lg"href="{% url 'edityourhealth.html' %}"><b>Edit</b></a>
      <div class="container">
        <div class="box">
          <h1 style="font-size: 30px; color: #28acea">Basic Information</h1><hr><br>
          <p class="list"><img src="https://img.icons8.com/color/26/000000/christmas-star.png" class="mr-1 " width="19" height="19" id="star" style="align-self: left;"> <b><u>Height:</u> {{ info.height }} cm</b></p>
          <p class="list"><img src="https://img.icons8.com/color/26/000000/christmas-star.png" class="mr-1 " width="19" height="19" id="star" style="align-self: left;"> <b><u>Weight:</u> {{ info.weight}} kg</b></p>
          <p class="list"><img src="https://img.icons8.com/color/26/000000/christmas-star.png" class="mr-1 " width="19" height="19" id="star" style="align-self: left;"> <b><u>Age:</u> {{ age }} years</b></p>
        </div>
        <br><br>
        <div class="box">
          <h1 style="font-size: 30px; color: #28acea">Diseases</h1><hr><br>
            <p><b>{{ info.diseases }}</b></p>
        </div>
        <br><br>
        <div class="box">
          <h1 style="font-size: 30px; color: #28acea">Medicines</h1><hr><br>
          <p><b>{{ info.medicines }}</b></p>
        </div>
        <br><br>
        <div class="box">
          <h1 style="font-size: 30px; color: #28acea">Treatments/Surgery</h1><hr><br>
          <p><b>{{ info.ts }}</b></p>
        </div>
      </div>
      <br><br><br>
      {% include "hospital/Patient/footer.html" %}
    </div>
  </div>
</body>
</html>
