{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Home
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script>
    $(document).ready(function(){
      var dragTheme = window.localStorage.getItem('checkbox');
      if(dragTheme==="true"){
      	$("#jhamela").removeClass("darkEdition");
        	window.localStorage.setItem('checkbox', true);
        	var dragTheme = window.localStorage.getItem('checkbox');
        	console.log(dragTheme);
        	$('#checkbox').prop('checked', true);
      }
      $("#checkbox").click(function(){
        if($('#checkbox').prop("checked")){
        	$("#jhamela").removeClass("darkEdition");
        	window.localStorage.setItem('checkbox', true);
        	var dragTheme = window.localStorage.getItem('checkbox');
        	console.log(dragTheme);	
        }
        else{
        	$("#jhamela").addClass("darkEdition");
        	window.localStorage.setItem('checkbox', false);
        	var dragTheme = window.localStorage.getItem('checkbox');
        	console.log(dragTheme);	
        }
      });
    });
  </script>
  <style type="text/css">
  	
  	.minarea{
  		width: 40%;
  		display: inline-block;
  		box-sizing: border-box;
  	}
  	
  	.maxarea{
  		width: 55%;
  		display: inline-block;
  		box-sizing: border-box;
  	}
  	
  	.leftside{
  		float: left;
  		text-align: left;
  		padding-left: 5%;
  	}
  	
  	.rightside{
  		float: right;
  		text-align: left;
  		padding-right: 5%;
  	}
  
  @media (max-width: 1000px)
  {
  	
  	.minarea{
  		width: 100%;
  		display: inline-block;
  		margin-top: 30px;
  		margin-bottom: 30px;
  	}
  	
  	.maxarea{
  		width: 100%;
  		display: inline-block;
  		margin-top: 30px;
  		margin-bottom: 30px;
  	}
  	
  	.leftside{
  		float: none;
  		text-align: center;
  		padding-left: 0px;
  	}

  	.leftside img{
  		width: 60%;
  		height: auto;
  	}
  	
  	.rightside{
  		float: none;
  		text-align: center;
  		padding-right: 0px;
  	}

  	.rightside img{
  		width: 60%;
  		height: auto;
  	}
  }
  @media (max-width: 500px)
  {
  	.leftside{
  		float: none;
  	}

  	.leftside img{
  		width: 90%;
  		height: auto;
  	}
  	
  	.rightside{
  		float: none;
  	}

  	.rightside img{
  		width: 90%;
  		height: auto;
  	}
  }
  </style>
</head>

<body id="jhamela" class="darkEdition lightEdition">
  <!-- Navbar -->
  {% include "hospital/Home/preloader.html" %}
  <div id="myDiv" class="animate-bottom" style="display:none;">
  {% include "hospital/Home/nav_main.html" %}
  <!-- End Navbar -->
  
  <div style="text-align: center;position: relative;margin-bottom: 150px">
  <br><br><br>
  <h1 class="sps" style="font-weight: bolder;">G20 SARKARI ASPATAL</h1>
  <!-- <h5 class="sps glow">You’ll Love the Way We Care for You</h5> -->
  <h3 class="sps" style="font-weight: bolder;">Est. 1678</h3>
  <img src="{%static 'assets/img/homepage-banner.svg' %}" width="80%">
  <br><br><br>
  <p style="width: 70%;margin-left:auto;margin-right:auto;margin-top: 100px;font-family: sans-serif;line-height: 30px;font-size: 1.2em" class="sps">
  	We, at SARKARI ASPATAL, aim to provide you not only the best possible treatment, but also aim to satisfy the needs and redress the queries of the patient with the same wholesomeness.Most of the institutes in the health sector today are unable to meet the current required standards for patient satisfaction and complain redressal. It's due to some sort of a stigma that these things are never considered. But we have come forward to break the stigma.<br><br>Thus we have extended our management system to include the patients into the evaluation process and to ensure a transparency in this relationship. And this is what makes us different!   
</div>
  <div class="container">
    <a href="{% url 'register_pat.html' %}" class="btn btn-primary btn-round btn-lg">Take Appointment</a>
  </div><br><br><br><br><br><br><br>
  <div style="align-items: center;">
    <div class="mainbox sps">
      
      <div class="rightside minarea">
      	<img src="{%static 'assets/img/proj4.png' %}" height="97%" width="95%">
      </div>
      <div class="leftside maxarea">
      	<h2>INTEGRATED ADMIN PANEL</h2>
      	<p>Most of the institutes in the health sector today are unable to meet the current required standards for patient satisfaction and complain redressal. And lack of an integrated platform in hospital management systems plays a key role in achieving this. Keeping into consideration, the need of the hour, we as a responsible organisation, have already taken a step forward to solve the issue.</p>
      	<p>We have introduced an integrated Admin Panel for monitoring and supervising all the issues of the patients and even doctors. The Admin Panel provides a medium to connect the authorities with the patiens and the staff directly, thus ensuring a fair situation.</p>
      </div>
      
    </div>
    <div class="mainboxr sps">
     
      <div class="leftside minarea">
      	<img src="{%static 'assets/img/proj2.png' %}" height="80%" width="85%">
      </div>
      <div class="rightside maxarea">
      	<h2 class="animation-element slide-left in-view">FACILITIES FOR THE ELDERLY ONES</h2>
      	<p>Keeping into view, the needs and mandates of our elderly patients, we have introduced a lot of features to make the thinks easy and convinient for them. </p>
      	<p>We have included features such as priorities in appointments, getting access to the records of previous ailments and their detailed reports in a click, and personalised supervising through video chat(in case they are not able to show up for some reason) have proved to be a benchmark for getting along with them.</p>
      </div>
      
    </div>
    <div class="mainbox sps">
      
      <div class="rightside minarea" style="margin-top: 30px">
      	<img src="{%static 'assets/img/proj3.svg' %}" height="97%" width="95%">
      </div>
      <div class="leftside maxarea">
      	<h2>VIDEO CONFERENCING FACILITIES</h2>
      	<p>In these trying times of COVID 19, it has been very difficult for people to come out of their houses for their routinely check-ups. The elder patients are the most affected of all as they can't show up for their regular appointments.</p>
      	<p>We have come up with an innovative way to tackle this situation by including the feature of OCS ie Over the Call Supervision, wherein patients can consult the doctor through video conferencing and their mandates can be taken care of.</p>
      </div>
      
    </div>
    <div class="mainboxr sps" style="margin-bottom: 200px">
      
      <div class="leftside minarea">
      	<img src="{%static 'assets/img/proj1.svg' %}" height="97%" width="95%">
      </div>
      <div class="rightside maxarea">
      	<h2>MEASURES FOR COVID-19</h2>
      	<p>We understand the fact that the most vulnerble of the patients are those who are suffering from the deadly COVID 19. They are the ones who need specific care and redressal and also need to be properly cut off from the mianstream for a better treatment.</p>
      	<p>We believe in transparency and thus, our COVID stats are available to all our patients. Furhet, we have a seperate COVID ward for treating our COVID patients and a detailed record of the bed available, and the record of the vaccines given, and the patient history are recorded with us to help us treat you better.</p>
      </div>
      
    </div>
  </div>
	{% include "hospital/Home/testimonials.html" %}  
  </div>
 

  {% include "hospital/Home/footer.html" %}
</div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  
 <!-- Chartist JS -->
 <script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script>
 <!--  Notifications Plugin    -->
 <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
 <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
</body>

</html>