{% load static %}
<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Hospital Management System</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static 'assets/css/form.css'%}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style media="screen">
    
    
    .market-update-block {
      padding: 2em 2em;
      background: #999;
    }

    .market-update-block h3 {
      color: #fff;
      font-size: 1.5em;
      font-family: 'Carrois Gothic', sans-serif;
    }

    .market-update-block h4 {
      font-size: 1.2em;
      color: #fff;
      margin: 0.3em 0em;
      font-family: 'Carrois Gothic', sans-serif;
    }

    .market-update-block p {
      color: #fff;
      font-size: 0.8em;
      line-height: 1.8em;
    }

    .market-update-block.clr-block-1 {
      background: #ff0000;
      margin-right: 0.8em;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-2 {
      background: #4f5905;
      margin-right: 0.8em;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-3 {
      background: #1355f9;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-1:hover {
      background: #3C3C3C;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-2:hover {
      background: #3C3C3C;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-block.clr-block-3:hover {
      background: #3C3C3C;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
    }

    .market-update-right i.fa.fa-user-o,
    i.fa.fa-map-marker {
      font-size: 3em;
      color: #112240;
      width: 80px;
      height: 80px;
      background: #fff;
      text-align: center;
      border-radius: 49px;
      -webkit-border-radius: 49px;
      -moz-border-radius: 49px;
      -o-border-radius: 49px;
      line-height: 1.7em;
    }

    .market-update-right i.fa.fa-info-circle,
    i.fa.fa-list-alt {
      font-size: 3em;
      color: #112240;
      width: 80px;
      height: 80px;
      background: #fff;
      text-align: center;
      border-radius: 49px;
      -webkit-border-radius: 49px;
      -moz-border-radius: 49px;
      -o-border-radius: 49px;
      line-height: 1.7em;
    }

    .market-update-right i.fa.fa-mobile,
    i.fa.fa-calendar-o {
      font-size: 3em;
      color: #112240;
      width: 80px;
      height: 80px;
      background: #fff;
      text-align: center;
      border-radius: 49px;
      -webkit-border-radius: 49px;
      -moz-border-radius: 49px;
      -o-border-radius: 49px;
      line-height: 1.7em;
    }


    .market-update-left {
      padding: 0px;
    }
    .column {
  float: left;
  width: 25%;
  padding: 20px;
}


.row {margin: 0 -10px;
padding-left: 15px;
padding-right: 15px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

th {
    border: 1px solid #28acea;
    border-collapse: collapse;
    padding:10px;
}

td {
    border: 1px solid #28acea;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}


    </style>
  <script>
    $(document).ready(function(){
      var dragTheme = window.localStorage.getItem('checkbox');
      if(dragTheme==="true"){
        $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme);
          $("#checkbox").click();
      }
      $("#checkbox").click(function(){
        if($('#checkbox').prop("checked")){
          $("#jhamela").removeClass("darkEdition");
          window.localStorage.setItem('checkbox', true);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
        else{
          $("#jhamela").addClass("darkEdition");
          window.localStorage.setItem('checkbox', false);
          var dragTheme = window.localStorage.getItem('checkbox');
          console.log(dragTheme); 
        }
      });
    });
  </script>
  <script>
      function add_charge() {
        var v1 = document.getElementById('comm');
        var v2 = document.getElementById('quan');
        var comm = String(v1.value);
        var quan = v2.value;
        console.log(comm);
        console.log(quan);
        var finhref = "{% url 'appointment_details_particular_doc_add_charge' app.6 app.1 0 %}".replace(/{{ app.1 }}/, comm);
        finhref = finhref.replace(/0/, quan);
        console.log(finhref);
        window.location.href = finhref;
        document.getElementById('comm').value='';
        document.getElementById('quan').value='';   
      }  
  </script>
</head>

<body id="jhamela" class="darkEdition lightEdition">
  {% include "hospital/Home/preloader.html" %}

  <div id="myDiv" class="animate-bottom wrapper" style="display:none;text-align: center;position: relative;">
    <div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'assets/img/sidebar-1.jpg'%}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
      <img src="https://www.iasplus.com/en/images/responsive/badges/g20/@@images/465e1ae9-46a0-4131-b3d0-984fcbb8233a.png">
      <br> 
      GROUP 20
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'dashboard_doc.html' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'profile_doc.html' %}">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'bookapp_doc.html' %}">
            <i class="material-icons">content_paste</i>
            <p>Your Appointments</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'admit_details_doc.html' %}">
            <i class="material-icons">favorite</i>
            <p>Admitted Patients</p>
          </a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'feedback_doc.html' %}">
            <i class="material-icons">bubble_chart</i>
            <p>Feedback</p>
          </a>
        </li>
         <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="material-icons">logout</i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="main-panel">
      <!-- Navbar -->
      <br><br><br>
      <h2 class="sps">Patient Appointment Details</h2>
      <div>
      
    
     <div class="market-updates" style="margin-left: 15%">
      <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Doctor Name</h4>
           <h3>{{app.0}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Appointment Date</h4>
           <h3>{{app.2}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
         <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Link</h4>
           <h3>{{app.3}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>


  <br><br><br>



  <div class="market-updates" style="margin-left: 15%">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Name</h4>
           <h3>{{app.1}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
           <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Description</h4>
           <h3>{{app.5}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-list-alt"></i>
           
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Call Time</h4>
           <h3>{{app.4}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>

      
      
      
        <br>
        {% if app.3 and app.7 is False%}
        <br><br>
        <div class="container">
    <div class="screen" style="width: 70%;margin-left: auto;margin-right: auto;">
              <div class="screen-header">
                <div class="screen-header-left">
                  <img src="{% static 'assets/img/btn.png' %}" height="20px">
                </div>
              </div>
              <div class="screen-body">
                <div class="screen-body-item left">
                  <div class="app-title" style="text-align: left;color: #28acea">
                    <span>UPDATE</span>
                  </div>
                </div>
                <div class="screen-body-item" style="width: 80%;margin-left:auto;margin-right: auto">
                  <form class="app-form" method="POST" enctype="multipart/form-data">
                  <!-- Very Important csrf Token -->
                  {% csrf_token %}
                    {{ p_form.as_p}}
                    <input type="submit" value="Update" class='btn btn-primary btn-lg' style="margin-top: 30px">
                  </form>
                </div>
              </div>
            </div>
          </div>

       
        <br><br>
        <h2 class="sps">Admit Patient</h2>
        <br><br>
        <div class="container">
    <div class="screen" style="width: 70%;margin-left: auto;margin-right: auto;">
              <div class="screen-header">
                <div class="screen-header-left">
                  <img src="{% static 'assets/img/btn.png' %}" height="20px">
                </div>
              </div>
              <div class="screen-body">
                <div class="screen-body-item left">
                  <div class="app-title" style="text-align: left;color: #28acea">
                    <span>ADMIT</span>
                  </div>
                </div>
                <div class="screen-body-item" style="width: 80%;margin-left:auto;margin-right: auto">
                  <form class="app-form" method="POST" enctype="multipart/form-data">
                  <!-- Very Important csrf Token -->
                  {% csrf_token %}
                    {{ q_form.as_p}}
                    <input type="submit" value="Admit" class='btn btn-primary btn-lg' style="margin-top: 30px">
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% if app.7 is False %}
        <br><br><br><br>
        <a class="btn btn-primary btn-round btn-lg sps" href="{% url 'endappointment_doc' app.6  %}">Finish Appointment</a>
        {% endif %}
        <a class="btn btn-primary btn-round btn-lg sps" href="{% url 'report_apt.html' app.6 %}" target="_blank"><b>View Medical Report</b></a>
        <a class="btn btn-primary btn-round btn-lg sps" href="{% url 'bill_apt.html' app.6 %}" target="_blank"><b>View Bill</b></a>
        {% endif %}
        <br><br>
        <h2 class="sps">Patient Health Record</h2>
        <br>
        <center>
         <div>
      
    
  <div class="market-updates" style="margin-left: 15%">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Height</h4>
           <h3>{{pathi.height}} cm</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Weight</h4>
           <h3>{{pathi.weight}} kg</h3>
        </div>
        <div class="col-md-4 market-update-right">
         <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Age</h4>
           <h3>{{ag}} years</h3>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>


  <br><br><br>



  <div class="market-updates" style="margin-left: 15%">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Diseases</h4>
           <h3>{{pathi.diseases}}</h3>
        </div>
        <div class="col-md-4 market-update-right">
           <i class="fa fa-user-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Medicines</h4>
           <h4>{{pathi.medicines}}</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-list-alt"></i>
           
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3 column">
        <div class="col-md-8 market-update-left">
          <h3></h3>
          <h4>Patient Treatments/Surgeries</h4>
           <h4>{{pathi.ts}}</h4>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  </center>
       
        <br><br><br>

    </div>
    <h2 class="sps">Enter Medicine Details</h2>
        <center>
        <table class="sps">
          <thead>
              <tr class="sps">
                  <th class="sps">Commodity Name </th>
                  <th class="sps">Quantity</th>
              </tr>
          </thead>
              <tr>
                  <td class="sps">
                    <select id="comm">
                      {% for k in med %}
                      <option value="{{ k.name }}">{{ k.name }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td class="sps"><input type="Number" id="quan" ></td>                  
              </tr>
        </table>
        <br><br><br>
        <a class="btn btn-primary btn-round btn-lg" onclick="add_charge()">Save</a>
        </center>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      {% include "hospital//Doctor/footer.html" %}
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/material-dashboard.js?v=2.1.0' %}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>
